//global variable
$yellow-color: #f9c14a;
$black-color: #000000;
$gray-color: #f4f4f4;

$poppins: 'Poppins', sans-serif;
$raleway: 'Raleway', sans-serif;


/* ===================
       Topbar
   =================== */
.umo-topbar-area {
  background: $yellow-color;
}

.umo-topbar {
  background: $yellow-color;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.umo-offer {
  a {
    font-family: $poppins;
    color: $black-color;
    text-decoration: none;
  }
}

.umo-login {
  a {
    text-decoration: none;
    font-family: $poppins;
    color: $black-color;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}


/* ========================
      Navigation and Logo
   ======================== */

.umo-navbar-area {
  background: $black-color;
  min-height: 60px;
  overflow: hidden;
}

.umo-logo {
  a {
    cursor: pointer;
  }
}

.umo-main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  nav {
    ul {
      margin: 0;
      padding: 0;
      display: block;

      li {
        list-style: none;
        float: left;

        a {
          text-decoration: none;
          padding: 1rem 1.6rem;
          color: #ffffff;
          font-family: $raleway;
          text-transform: uppercase;
          line-height: 1;
        }
      }
    }
  }
}


/* ===================
       Top Slider
   =================== */
.umo-top-slider{
  position: relative;
  overflow: hidden;
}

.swiper-parallax {
  width: 100%;
  height: 100%;
}


.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {

}

.swiper-slide .subtitle {
  font-size: 1.6rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-family: $raleway;
  text-transform: uppercase;
  max-width: 550px;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 100px;
  span{
    color: $yellow-color;
  }
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}


/* ========================
     Top Carousal Slider
   ======================== */
.umo-carousal-slider {
  overflow: hidden;
  padding: 3rem 0;
  background: $gray-color;
}

.umo-browseby-cuisine-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  h3 {
    font-family: $raleway;
    font-weight: 500;
  }

  a {
    text-decoration: none;
    color: $black-color;
    font-weight: 500;
    font-family: $raleway;
  }
}


/* ================================
       Feature Restaurants Slider
   ================================ */

.umo-feature-restaurants{
  padding: 3rem 0;
  //overflow: hidden;
}
.umo-features-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  h3 {
    font-family: $raleway;
  }

  a {
    text-decoration: none;
    color: $black-color;
    font-weight: 500;
    font-family: $raleway;
  }
}


/* ===================
       Swiper Slide
   =================== */

.swiper-container, .swiper-carousal {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: calc((100% - 30px) / 2);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

//Swiper Style End

/* ===========================
       Near by Restaurants
   =========================== */

.umo-nearby-restaurants {
  background: $gray-color;
  padding: 3rem 0;
}

.umo-nearby-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  h3 {
    font-family: $raleway;
  }

  a {
    text-decoration: none;
    color: $black-color;
    font-weight: 500;
    font-family: $raleway;
  }
}

.nby-restaurants {
  img {
    border-radius: 10px;
  }
}

.res-name {
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  background: $yellow-color;
  color: $black-color;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 500;
  padding: 5px;
  font-size: 1rem;
}


.more-details {
  position: absolute;
  bottom: 10px;
  right: 20px;

  a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
}

.stars {
  position: absolute;
  bottom: 10px;
  left: 20px;
}


/* ========================
       Apps Store CTA
   ======================== */
.umo-apps-store-area {
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-family: $raleway;
    font-weight: bold;
    font-size: 1.2rem;
  }

  p {
    font-family: $raleway;
    font-weight: 500;
  }
}


/* ========================
       Main Footer Area
   ======================== */

.main-footer-area {
  background: $black-color;
  border-top: 10px solid $yellow-color;
}

.main-footer {
  display: flex;
  justify-content: space-around ;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 0;
  color: #ffffff;
  font-family: $raleway;
  @media (min-width: 601px){
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.umo-address {
  p {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 0.8rem;
  }

  a {
    margin-top: 1.2rem;
    display: inline-block;
    background: $yellow-color;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 10px;
    color: $black-color;
    font-size: 0.8rem;
  }
}


.umo-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;

  .umo-mail, .umo-call, .umo-email {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;

    i {
      color: $black-color;
      position: relative;
      margin-right: 1rem;
      background: #fff;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      text-align: center;
      font-size: 1.2rem;
      padding-top: 8px;
    }

    a {
      color: #ffffff;
    }
  }


}


.umo-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;

  a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;

    i {
      color: $black-color;
      position: relative;
      margin-right: 1rem;
      background: #fff;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      text-align: center;
      font-size: 1.2rem;
      padding-top: 8px;
    }
  }
}














